In [5]:
import pandas as pd 
import numpy as np

In [6]:
book_df=pd.read_csv("collaborative_books_df.csv")

In [7]:
book_df.head()

,Unnamed: 0,title,book_id,user_id_mapping,book_id_mapping,Predicted Rating,Actual Rating
0,0,I Am the Messenger,19057,1537,299,4.5,5
1,1,I Am the Messenger,19057,23039,299,4.9,3
2,2,I Am the Messenger,19057,39096,299,3.9,3
3,3,I Am the Messenger,19057,14631,299,4.7,4
4,4,I Am the Messenger,19057,32816,299,4.3,5

In [8]:
book_df.shape

(196296, 7)

In [9]:
x = book_df.groupby('user_id_mapping').count()["Actual Rating"] >10
good_readers = x[x].index

In [10]:
filtered_rating = book_df[book_df['user_id_mapping'].isin(good_readers)]

In [11]:
y = filtered_rating.groupby('title').count()['Actual Rating']>=5

In [12]:
famous_books = y[y].index

In [13]:
final_ratings = filtered_rating[filtered_rating['title'].isin(famous_books)]

In [14]:
pt = final_ratings.pivot_table(index='title',columns='user_id_mapping',values='Actual Rating')

In [15]:
pt.fillna(0,inplace=True)
pt

user_id_mapping,208,227,315,337,349,427,495,541,548,875,...,53784,54849,55667,57310,58950,59244,62043,63130,64133,69119
title,,,,,,,,,,,,,,,,,,,,,
1984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Child Called It Dave Pelzer 1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Christmas Carol,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
A Clash of Kings A Song of Ice and Fire 2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Court of Thorns and Roses A Court of Thorns and Roses 1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
White Oleander,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wicked The Life and Times of the Wicked Witch of the West The Wicked Years 1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
WinniethePooh WinniethePooh 1,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Winter The Lunar Chronicles 4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wuthering Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0

In [16]:
from scipy.sparse import csr_matrix

In [17]:
book_sparse = csr_matrix(pt)

In [18]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm= 'brute')

In [19]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [20]:
distance, suggestion = model.kneighbors(pt.iloc[237,:].values.reshape(1,-1), n_neighbors=6 )

In [21]:
distance

array([[0.        , 8.1240384 , 8.1240384 , 8.30662386, 8.30662386,
        8.66025404]])

In [22]:
suggestion

array([[237, 285, 241,  74, 123,  73]], dtype=int64)

In [23]:
pt.iloc[241,:]

user_id_mapping
208      0.0
227      0.0
315      0.0
337      0.0
349      0.0
        ...
59244    0.0
62043    0.0
63130    0.0
64133    0.0
69119    0.0
Name: The Mists of Avalon Avalon 1, Length: 293, dtype: float64

In [24]:
for i in range(len(suggestion)):
    print(pt.index[suggestion[i]])

Index(['The Magicians The Magicians 1', 'The Wind in the Willows',
       'The Mists of Avalon Avalon 1', 'Fifty Shades Freed Fifty Shades 3',
       'Lolita', 'Fifty Shades Darker Fifty Shades 2'],
      dtype='object', name='title')

In [25]:
pt.index[3]

'A Clash of Kings A Song of Ice and Fire 2'

In [26]:
book_id = np.where(pt.index =='Sharp Objects')

In [27]:
book_id

(array([], dtype=int64),)

In [28]:
def recommend_book(book_name):
    book_id = np.where(pt.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(pt.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6 )
    
    for i in range(len(suggestion)):
            books = pt.index[suggestion[i]]
            for j in books:
                if j == book_name:
                    print(f"You searched '{book_name}'\n")
                    print("The suggestion books are: \n")
                else:
                    print(j)

In [29]:
recommend_book('The Wind in the Willows')

You searched 'The Wind in the Willows'

The suggestion books are:

Geralds Game
Lolita
Fifty Shades Freed Fifty Shades 3
The Magicians The Magicians 1
Fifty Shades Darker Fifty Shades 2

In [30]:
recommend_book("The Magicians The Magicians 1")

You searched 'The Magicians The Magicians 1'

The suggestion books are:

The Wind in the Willows
The Mists of Avalon Avalon 1
Fifty Shades Freed Fifty Shades 3
Lolita
Fifty Shades Darker Fifty Shades 2

In [31]:
book_df.title.unique(

SyntaxError: incomplete input (2345773116.py, line 1)