In [1]:
import pandas as pd
import numpy as np
import itertools
import nltk
from nltk.stem import PorterStemmer

In [2]:
book_df=pd.read_csv("books_1.Best_Books_Ever.csv")

In [3]:
book_df.head()

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",...,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...,2993816,30516,5.09
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",...,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...,https://i.gr-assets.com/images/S/compressed.ph...,2632233,26923,7.38
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,"['Maycomb, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,2269402,23328,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,9999999999999,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...",...,01/28/13,[],2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,"['United Kingdom', 'Derbyshire, England (Unite...",https://i.gr-assets.com/images/S/compressed.ph...,1983116,20452,NaN
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...",...,10/05/05,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,"['Forks, Washington (United States)', 'Phoenix...",https://i.gr-assets.com/images/S/compressed.ph...,1459448,14874,2.1

In [4]:
book_df.duplicated().sum()

50

In [5]:
book_df.drop_duplicates(inplace=True)

In [6]:
book_df["isbn"].duplicated().sum()

4356

In [7]:
book=book_df[["bookId","title","author","description","genres","characters"]]

In [8]:
book.head()

,bookId,title,author,description,genres,characters
0,2767052-the-hunger-games,The Hunger Games,Suzanne Collins,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H..."
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré (Illustrator)",There is a door at the end of a silent corrido...,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'..."
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ..."
3,1885.Pride_and_Prejudice,Pride and Prejudice,"Jane Austen, Anna Quindlen (Introduction)",Alternate cover edition of ISBN 9780679783268S...,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '..."
4,41865.Twilight,Twilight,Stephenie Meyer,About three things I was absolutely positive.\...,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R..."

In [9]:
book.iloc[0]["genres"]

"['Young Adult', 'Fiction', 'Dystopia', 'Fantasy', 'Science Fiction', 'Romance', 'Adventure', 'Teen', 'Post Apocalyptic', 'Action']"

In [10]:
book_genres=book["genres"]

In [11]:
book_genres

0        ['Young Adult', 'Fiction', 'Dystopia', 'Fantas...
1        ['Fantasy', 'Young Adult', 'Fiction', 'Magic',...
2        ['Classics', 'Fiction', 'Historical Fiction', ...
3        ['Classics', 'Fiction', 'Romance', 'Historical...
4        ['Young Adult', 'Fantasy', 'Romance', 'Vampire...
                               ...
52473    ['Vampires', 'Paranormal', 'Young Adult', 'Rom...
52474                           ['Mystery', 'Young Adult']
52475    ['Fantasy', 'Young Adult', 'Paranormal', 'Ange...
52476    ['Fiction', 'Mystery', 'Historical Fiction', '...
52477    ['Lds Fiction', 'Historical Fiction', 'Young A...
Name: genres, Length: 52428, dtype: object

In [12]:
import ast #for converting str to list

def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i) 
    return L

In [13]:
book['genres'] = book['genres'].apply(convert)

C:\Users\Mahesh\AppData\Local\Temp\ipykernel_17028\3301827617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book['genres'] = book['genres'].apply(convert)

In [14]:
book.iloc[0]["genres"]

['Young Adult',
 'Fiction',
 'Dystopia',
 'Fantasy',
 'Science Fiction',
 'Romance',
 'Adventure',
 'Teen',
 'Post Apocalyptic',
 'Action']

In [15]:
book.head()

,bookId,title,author,description,genres,characters
0,2767052-the-hunger-games,The Hunger Games,Suzanne Collins,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,"[Young Adult, Fiction, Dystopia, Fantasy, Scie...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H..."
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré (Illustrator)",There is a door at the end of a silent corrido...,"[Fantasy, Young Adult, Fiction, Magic, Childre...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'..."
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"[Classics, Fiction, Historical Fiction, School...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ..."
3,1885.Pride_and_Prejudice,Pride and Prejudice,"Jane Austen, Anna Quindlen (Introduction)",Alternate cover edition of ISBN 9780679783268S...,"[Classics, Fiction, Romance, Historical Fictio...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '..."
4,41865.Twilight,Twilight,Stephenie Meyer,About three things I was absolutely positive.\...,"[Young Adult, Fantasy, Romance, Vampires, Fict...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R..."

In [16]:
book_titles=book.title.unique().tolist()

In [17]:
book_titles=pd.DataFrame(book_titles)
book_titles.columns=["titles"]
book_titles.to_json("book_titles.json")

In [18]:
def remove_space(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [19]:
book['genres'] = book['genres'].apply(remove_space)

C:\Users\Mahesh\AppData\Local\Temp\ipykernel_17028\1458159455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book['genres'] = book['genres'].apply(remove_space)

In [20]:
book.head()

,bookId,title,author,description,genres,characters
0,2767052-the-hunger-games,The Hunger Games,Suzanne Collins,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,"[YoungAdult, Fiction, Dystopia, Fantasy, Scien...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H..."
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré (Illustrator)",There is a door at the end of a silent corrido...,"[Fantasy, YoungAdult, Fiction, Magic, Children...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'..."
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"[Classics, Fiction, HistoricalFiction, School,...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ..."
3,1885.Pride_and_Prejudice,Pride and Prejudice,"Jane Austen, Anna Quindlen (Introduction)",Alternate cover edition of ISBN 9780679783268S...,"[Classics, Fiction, Romance, HistoricalFiction...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '..."
4,41865.Twilight,Twilight,Stephenie Meyer,About three things I was absolutely positive.\...,"[YoungAdult, Fantasy, Romance, Vampires, Ficti...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R..."

In [21]:
book["Tags"]=book["genres"]

C:\Users\Mahesh\AppData\Local\Temp\ipykernel_17028\3508009175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book["Tags"]=book["genres"]

In [22]:
book.head()

,bookId,title,author,description,genres,characters,Tags
0,2767052-the-hunger-games,The Hunger Games,Suzanne Collins,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,"[YoungAdult, Fiction, Dystopia, Fantasy, Scien...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...","[YoungAdult, Fiction, Dystopia, Fantasy, Scien..."
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré (Illustrator)",There is a door at the end of a silent corrido...,"[Fantasy, YoungAdult, Fiction, Magic, Children...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...","[Fantasy, YoungAdult, Fiction, Magic, Children..."
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"[Classics, Fiction, HistoricalFiction, School,...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...","[Classics, Fiction, HistoricalFiction, School,..."
3,1885.Pride_and_Prejudice,Pride and Prejudice,"Jane Austen, Anna Quindlen (Introduction)",Alternate cover edition of ISBN 9780679783268S...,"[Classics, Fiction, Romance, HistoricalFiction...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...","[Classics, Fiction, Romance, HistoricalFiction..."
4,41865.Twilight,Twilight,Stephenie Meyer,About three things I was absolutely positive.\...,"[YoungAdult, Fantasy, Romance, Vampires, Ficti...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...","[YoungAdult, Fantasy, Romance, Vampires, Ficti..."

In [23]:
book.iloc[0]["Tags"]

['YoungAdult',
 'Fiction',
 'Dystopia',
 'Fantasy',
 'ScienceFiction',
 'Romance',
 'Adventure',
 'Teen',
 'PostApocalyptic',
 'Action']

In [24]:
new_book_df = book[['bookId','title','Tags']]

In [25]:
new_book_df.head()

,bookId,title,Tags
0,2767052-the-hunger-games,The Hunger Games,"[YoungAdult, Fiction, Dystopia, Fantasy, Scien..."
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,"[Fantasy, YoungAdult, Fiction, Magic, Children..."
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,"[Classics, Fiction, HistoricalFiction, School,..."
3,1885.Pride_and_Prejudice,Pride and Prejudice,"[Classics, Fiction, Romance, HistoricalFiction..."
4,41865.Twilight,Twilight,"[YoungAdult, Fantasy, Romance, Vampires, Ficti..."

In [26]:
new_book_df['Tags'] = new_book_df['Tags'].apply(lambda x: " ".join(x))
new_book_df.head()

C:\Users\Mahesh\AppData\Local\Temp\ipykernel_17028\1579840890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_book_df['Tags'] = new_book_df['Tags'].apply(lambda x: " ".join(x))

,bookId,title,Tags
0,2767052-the-hunger-games,The Hunger Games,YoungAdult Fiction Dystopia Fantasy ScienceFic...
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Fantasy YoungAdult Fiction Magic Childrens Adv...
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,Classics Fiction HistoricalFiction School Lite...
3,1885.Pride_and_Prejudice,Pride and Prejudice,Classics Fiction Romance HistoricalFiction Lit...
4,41865.Twilight,Twilight,YoungAdult Fantasy Romance Vampires Fiction Pa...

In [27]:
# Converting to lower case
new_book_df['Tags'] = new_book_df['Tags'].apply(lambda x:x.lower())

C:\Users\Mahesh\AppData\Local\Temp\ipykernel_17028\2742252779.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_book_df['Tags'] = new_book_df['Tags'].apply(lambda x:x.lower())

In [28]:
import nltk
from nltk.stem import PorterStemmer

In [29]:
ps = PorterStemmer()

In [30]:
def stems(text):
    T = []
    
    for i in text.split():
        T.append(ps.stem(i))
    
    return " ".join(T)

In [31]:
new_book_df['Tags'] = new_book_df['Tags'].apply(stems)

C:\Users\Mahesh\AppData\Local\Temp\ipykernel_17028\1391816524.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_book_df['Tags'] = new_book_df['Tags'].apply(stems)

In [32]:
new_book_df.iloc[0]['Tags']

'youngadult fiction dystopia fantasi sciencefict romanc adventur teen postapocalypt action'

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [34]:
vector = cv.fit_transform(new_book_df['Tags']).toarray()

In [35]:
vector[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [36]:
vector.shape

(52428, 964)

In [37]:
from sklearn.metrics.pairwise import cosine_similarity

In [38]:
similarity = cosine_similarity(vector)

In [39]:
 similarity.shape

(52428, 52428)

In [40]:
def recommend2(book_name):
    book_id=[]
    index = new_book_df[new_book_df['title'] == book_name].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_book_df.iloc[i[0]].title)
recommend2("The Hunger Games")

Divergent
Insurgent
Catching Fire
Legend
Blood Red Road

In [41]:
recommend2("Pride and Prejudice")

Gone with the Wind
Wuthering Heights
Les Misérables
Little Women
The Count of Monte Cristo

In [42]:
recommend2("Twilight")

Marked
Midnight Sun [2008 Draft]
The Twilight Collection
The Awakening / The Struggle
The Short Second Life of Bree Tanner

In [43]:
recommend2("Jane Eyre")

Wuthering Heights
Northanger Abbey
A Tale of Two Cities
Uncle Tom's Cabin
Mansfield Park

In [44]:
recommend2("The Crucible")

Julius Caesar
Our Town
Inherit the Wind
The Night Thoreau Spent in Jail
To Kill a Mockingbird

In [45]:
new_music=pd.read_csv("Music Info.csv")

In [46]:
new_music.head()

,track_id,name,artist,spotify_preview_url,spotify_id,tags,genre,year,duration_ms,danceability,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,TRIOREW128F424EAF0,Mr. Brightside,The Killers,https://p.scdn.co/mp3-preview/4d26180e6961fd46...,09ZQ5TmUG8TSL56n0knqrj,"rock, alternative, indie, alternative_rock, in...",NaN,2004,222200,0.355,...,1,-4.360,1,0.0746,0.001190,0.000000,0.0971,0.240,148.114,4
1,TRRIVDJ128F429B0E8,Wonderwall,Oasis,https://p.scdn.co/mp3-preview/d012e536916c927b...,06UfBBDISthj1ZJAtX4xjj,"rock, alternative, indie, pop, alternative_roc...",NaN,2006,258613,0.409,...,2,-4.373,1,0.0336,0.000807,0.000000,0.2070,0.651,174.426,4
2,TROUVHL128F426C441,Come as You Are,Nirvana,https://p.scdn.co/mp3-preview/a1c11bb1cb231031...,0keNu0t0tqsWtExGM3nT1D,"rock, alternative, alternative_rock, 90s, grunge",RnB,1991,218920,0.508,...,4,-5.783,0,0.0400,0.000175,0.000459,0.0878,0.543,120.012,4
3,TRUEIND128F93038C4,Take Me Out,Franz Ferdinand,https://p.scdn.co/mp3-preview/399c401370438be4...,0ancVQ9wEcHVd0RrGICTE4,"rock, alternative, indie, alternative_rock, in...",NaN,2004,237026,0.279,...,9,-8.851,1,0.0371,0.000389,0.000655,0.1330,0.490,104.560,4
4,TRLNZBD128F935E4D8,Creep,Radiohead,https://p.scdn.co/mp3-preview/e7eb60e9466bc3a2...,01QoK9DA7VTeTSE3MNzp4I,"rock, alternative, indie, alternative_rock, in...",RnB,2008,238640,0.515,...,7,-9.935,1,0.0369,0.010200,0.000141,0.1290,0.104,91.841,4

In [47]:
new_music["tags"].fillna(method ='ffill', inplace = True)

C:\Users\Mahesh\AppData\Local\Temp\ipykernel_17028\991213037.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_music["tags"].fillna(method ='ffill', inplace = True)

In [48]:
new_music["tags"]=new_music["tags"].apply(lambda x:x.split(','))

In [49]:
new_music["tags"]

0        [rock,  alternative,  indie,  alternative_rock...
1        [rock,  alternative,  indie,  pop,  alternativ...
2        [rock,  alternative,  alternative_rock,  90s, ...
3        [rock,  alternative,  indie,  alternative_rock...
4        [rock,  alternative,  indie,  alternative_rock...
                               ...
50678                       [alternative_rock,  punk_rock]
50679         [rock,  alternative_rock,  japanese,  cover]
50680                  [metal,  metalcore,  post_hardcore]
50681                  [metal,  metalcore,  post_hardcore]
50682                                    [rock,  japanese]
Name: tags, Length: 50683, dtype: object

In [50]:
final_book=book_df[["bookId","title","genres"]]

In [51]:
final_book.head()

,bookId,title,genres
0,2767052-the-hunger-games,The Hunger Games,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas..."
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',..."
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,"['Classics', 'Fiction', 'Historical Fiction', ..."
3,1885.Pride_and_Prejudice,Pride and Prejudice,"['Classics', 'Fiction', 'Romance', 'Historical..."
4,41865.Twilight,Twilight,"['Young Adult', 'Fantasy', 'Romance', 'Vampire..."

In [52]:
final_book["genres"]=final_book['genres'].apply(convert)

C:\Users\Mahesh\AppData\Local\Temp\ipykernel_17028\2192186578.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_book["genres"]=final_book['genres'].apply(convert)

In [53]:
final_book.head()

,bookId,title,genres
0,2767052-the-hunger-games,The Hunger Games,"[Young Adult, Fiction, Dystopia, Fantasy, Scie..."
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,"[Fantasy, Young Adult, Fiction, Magic, Childre..."
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,"[Classics, Fiction, Historical Fiction, School..."
3,1885.Pride_and_Prejudice,Pride and Prejudice,"[Classics, Fiction, Romance, Historical Fictio..."
4,41865.Twilight,Twilight,"[Young Adult, Fantasy, Romance, Vampires, Fict..."

In [54]:
tag_table_books = [ token for idx, token in enumerate(set(itertools.chain.from_iterable(final_book["genres"])))]
tag_table_books = pd.DataFrame(tag_table_books)
tag_table_books.columns = ['Tag']
tag_table_books["Tag"]=tag_table_books["Tag"].apply(lambda x:x.lower())

In [55]:
tag_table_books

                  Tag
0              nature
1             nigeria
2    asian literature
3            maritime
4            activism
..                ...
977         far right
978             japan
979            trivia
980   greek mythology
981         mormonism

[982 rows x 1 columns]

In [56]:
music_tags=new_music["tags"]
tag_table_new_music = [ token for idx, token in enumerate(set(itertools.chain.from_iterable(music_tags)))]
tag_table_new_music = pd.DataFrame(tag_table_new_music)
tag_table_new_music.columns = ['Tag']

tag_new_music = tag_table_new_music.values.ravel()
tag_new_music

array([' classic_rock', ' indie_pop', 'blues', 'post_punk',
       ' female_vocalists', ' psychedelic_rock', ' psychedelic',
       'power_metal', ' love', ' blues', 'britpop', ' new_wave',
       ' guitar', 'french', ' drum_and_bass', ' blues_rock',
       'singer_songwriter', ' male_vocalists', 'british', ' rnb',
       'progressive_rock', ' american', ' instrumental', 'love',
       'death_metal', 'oldies', 'punk_rock', ' rap', 'techno',
       ' downtempo', 'noise', 'progressive_metal', 'thrash_metal',
       ' experimental', ' progressive_rock', 'heavy_metal', 'black_metal',
       'alternative_rock', 'hard_rock', 'alternative', ' metalcore',
       ' screamo', 'rock', ' doom_metal', ' alternative_rock', ' polish',
       'guitar', 'folk', ' oldies', 'avant_garde', ' ambient', ' german',
       'japanese', ' 70s', 'chill', ' russian', ' hard_rock',
       ' symphonic_metal', 'ambient', ' ska', 'polish', ' pop_rock',
       ' mellow', ' chill', 'german', 'swedish', ' grindcore', 'indie',
       ' trance', 'piano', ' post_rock', ' metal', ' house',
       ' industrial', ' gothic_metal', 'country', 'gothic_metal',
       ' thrash_metal', ' cover', 'dance', ' avant_garde', '00s',
       ' piano', ' singer_songwriter', 'lounge', '90s', ' soundtrack',
       'instrumental', ' hip_hop', ' swedish', 'dark_ambient', ' 90s',
       'downtempo', ' idm', 'psychedelic_rock', ' punk',
       'melodic_death_metal', 'ska', 'hip_hop', ' lounge', ' heavy_metal',
       ' electro', ' grunge', ' nu_metal', ' hardcore', 'reggae',
       'pop_rock', 'experimental', 'jazz', 'soul', 'synthpop',
       ' indie_rock', ' black_metal', ' 00s', ' japanese', 'american',
       'doom_metal', ' jazz', 'trip_hop', ' dance', 'punk', 'metalcore',
       ' 60s', ' french', ' power_metal', ' melodic_death_metal',
       'blues_rock', ' folk', ' alternative', 'gothic', ' electronic',
       'rap', 'symphonic_metal', 'new_age', ' post_punk', ' pop', 'emo',
       'female_vocalists', '80s', ' 80s', ' country', 'indie_pop',
       'classical', 'rnb', ' new_age', ' chillout', ' british', 'screamo',
       'soundtrack', ' reggae', 'pop', ' britpop', 'electro', ' synthpop',
       'grindcore', 'funk', '60s', ' funk', 'metal', ' indie', 'russian',
       'electronic', 'male_vocalists', 'chillout', 'grunge', 'j_pop',
       'post_rock', 'industrial', ' punk_rock', ' j_pop', ' emo',
       'indie_rock', 'beautiful', 'nu_metal', 'house', ' gothic',
       ' death_metal', 'cover', '70s', 'idm', 'drum_and_bass',
       ' post_hardcore', ' progressive_metal', 'trance', ' classical',
       ' noise', 'new_wave', ' dark_ambient', ' soul', 'psychedelic',
       'classic_rock', ' acoustic', 'post_hardcore', ' trip_hop',
       ' techno', 'acoustic', ' beautiful', 'hardcore', 'mellow'],
      dtype=object)

In [57]:
import nltk
from nltk.corpus import wordnet as wn

In [58]:
book_new_music_map = {} # Creating a dictionary of te mapping
def find_relation(str):
    value=str
    str = str.replace('-', ' ')
    if(len(str.split())==1):
        a = wn.synsets(str)
        if len(a) == 0:
            return 'Null'
        else:
            x = []
            for genre in tag_new_music:
                m = wn.synsets(genre)
                if len(m)>0:
                   x.append(a[0].path_similarity(m[0]))
            x = np.array(x, dtype = float)
            max_idx = x.argmax()
            key = tag_new_music[max_idx] # Dictionary key is the book genre name
            val = book_new_music_map.get(key, []) # Value for the key is the list synonyms for that book genre
            val.append(value)
            book_new_music_map[key] = val
            return tag_new_music[max_idx]
    else:
        a = wn.synsets(str.split()[0])
        b = wn.synsets(str.split()[1])
        if len(a) == 0 and len(b) == 0:
            return 'Null'
        elif (len(a) != 0 and len(b) == 0) or (len(a) == 0 and len(b) != 0):
            if len(a) != 0 and len(b) == 0:
                a = wn.synsets(str.split()[0])
            else:
                 a = wn.synsets(str.split()[1])
            if len(a) == 0:
                return 'Null'
            else:
                x = []
                for genre in tag_new_music:
                    m = wn.synsets(genre)
                    if len(m)>0:
                       x.append(a[0].path_similarity(m[0]))
                x = np.array(x, dtype = float)
                max_idx = x.argmax()
                key = tag_new_music[max_idx] # Dictionary key is the book genre name
                val = book_new_music_map.get(key, []) # Value for the key is the list synonyms for that book genre
                val.append(value)
                book_new_music_map[key] = val
                return tag_new_music[max_idx]
        else:
            x = []
            y = []
            for genre in tag_new_music:
                m = wn.synsets(genre)
                if len(m)>0:
                   x.append(a[0].path_similarity(m[0]))
                   y.append(b[0].path_similarity(m[0]))
            x = np.array(x, dtype = float)
            y = np.array(y, dtype = float)
            if (x.max() > y.max()):
                max_idx = x.argmax()
            else:
                max_idx = y.argmax()
                key = tag_new_music[max_idx] # Dictionary key is the book genre name
                val = book_new_music_map.get(key, []) # Value for the key is the list synonyms for that book genre
                val.append(value)
                book_new_music_map[key] = val
                return tag_new_music[max_idx]
    
tag_table_books['relation'] = tag_table_books['Tag'].apply(find_relation)

In [59]:
tag_table_books

                  Tag           relation
0              nature   female_vocalists
1             nigeria           new_wave
2    asian literature               None
3            maritime  singer_songwriter
4            activism            britpop
..                ...                ...
977         far right               None
978             japan           new_wave
979            trivia           new_wave
980   greek mythology             french
981         mormonism            britpop

[982 rows x 2 columns]

In [60]:
genre_list=[ token for idx, token in enumerate(set(itertools.chain.from_iterable(new_music.tags)))]

In [61]:
import random as rd

In [62]:
for i in range(len(tag_table_books)):
        if tag_table_books.iloc[i]["relation"]=="Null" :
            tag_table_books.at[i,"relation"]=rd.choice(genre_list)
            print("upadated value" ,tag_table_books.iloc[i]["relation"])

upadated value soul
upadated value  dance
upadated value 60s
upadated value jazz
upadated value black_metal
upadated value  hard_rock
upadated value drum_and_bass
upadated value  electronic
upadated value ambient
upadated value swedish
upadated value  power_metal
upadated value blues
upadated value  hip_hop
upadated value  drum_and_bass
upadated value  alternative
upadated value progressive_metal
upadated value  love
upadated value metalcore
upadated value instrumental
upadated value britpop
upadated value  american
upadated value  new_age
upadated value  house
upadated value  punk
upadated value  melodic_death_metal
upadated value punk_rock
upadated value  funk
upadated value progressive_rock
upadated value  chillout
upadated value  synthpop
upadated value chill
upadated value  pop
upadated value power_metal
upadated value  folk
upadated value rap
upadated value singer_songwriter
upadated value  japanese
upadated value chill
upadated value post_hardcore
upadated value instrumental
upadated value  electro
upadated value  electronic
upadated value doom_metal
upadated value industrial
upadated value  grindcore
upadated value industrial
upadated value soundtrack
upadated value  swedish
upadated value  gothic
upadated value  hardcore
upadated value  gothic
upadated value female_vocalists
upadated value  progressive_rock
upadated value  singer_songwriter
upadated value  indie_pop
upadated value  instrumental

In [63]:
tag_table_books.fillna(method ='bfill', inplace = True)

C:\Users\Mahesh\AppData\Local\Temp\ipykernel_17028\3000451370.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  tag_table_books.fillna(method ='bfill', inplace = True)

In [64]:
new_music=new_music[['spotify_id', 'name', 'artist','tags']]

In [65]:
new_music_col = list(new_music.columns)
new_music_tags = new_music['tags']
tag_table_new_music=[[token, idx] for idx, token in enumerate(set(itertools.chain.from_iterable(new_music_tags)))]
tag_table_new_music = pd.DataFrame(tag_table_new_music)
tag_table_new_music.columns = ['Tag', 'Index']

In [66]:
tag_table_new_music

                   Tag  Index
0         classic_rock      0
1            indie_pop      1
2                blues      2
3            post_punk      3
4     female_vocalists      4
..                 ...    ...
194             techno    194
195           acoustic    195
196          beautiful    196
197           hardcore    197
198             mellow    198

[199 rows x 2 columns]

In [67]:
new_tag_dummy_music = np.zeros([len(new_music), len(tag_table_new_music)])

In [68]:
for i in range(len(new_music)):
    for j in range(len(tag_table_new_music)):
        if tag_table_new_music['Tag'][j] in  new_music.iloc[i]["tags"]:
            new_tag_dummy_music[i, j] = 1
            
new_hot_encoded_music = pd.concat([new_music, pd.DataFrame(new_tag_dummy_music)],axis = 1)
new_music_col.extend([string for string in tag_table_new_music['Tag']])
new_hot_encoded_music.columns = new_music_col
new_hot_encoded_music.head()

,spotify_id,name,artist,tags,classic_rock,indie_pop,blues,post_punk,female_vocalists,psychedelic_rock,...,psychedelic,classic_rock,acoustic,post_hardcore,trip_hop,techno,acoustic,beautiful,hardcore,mellow
0,09ZQ5TmUG8TSL56n0knqrj,Mr. Brightside,The Killers,"[rock, alternative, indie, alternative_rock...",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,06UfBBDISthj1ZJAtX4xjj,Wonderwall,Oasis,"[rock, alternative, indie, pop, alternativ...",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0keNu0t0tqsWtExGM3nT1D,Come as You Are,Nirvana,"[rock, alternative, alternative_rock, 90s, ...",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0ancVQ9wEcHVd0RrGICTE4,Take Me Out,Franz Ferdinand,"[rock, alternative, indie, alternative_rock...",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01QoK9DA7VTeTSE3MNzp4I,Creep,Radiohead,"[rock, alternative, indie, alternative_rock...",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
def lower_case(tag_selected_book):
    list=[]
    for i in tag_selected_book:
        list.append(i.lower())
    return list

In [70]:
def recommend(book_name):
    book_id=[]
    index = new_book_df[new_book_df['title'] == book_name].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        book_id.append(new_book_df.iloc[i[0]].bookId)
    filtered_dataset = pd.DataFrame([ final_book[final_book.bookId == i].values[0] for i in book_id], columns = ['bookId', 'title','genres'])
    selected_book_tags = filtered_dataset['genres']
    tag_selected_book = [ token for idx, token in enumerate(set(itertools.chain.from_iterable(selected_book_tags)))]
    tag_selected_book=lower_case(tag_selected_book)
    new_tag_selected_music = [tag_table_books[tag_table_books.Tag == i].relation.values for i in tag_selected_book]
    new_tag_selected_music = [ token for idx, token in enumerate(set(itertools.chain.from_iterable(new_tag_selected_music)))]
    recommended_new_music = []
    counts = np.zeros((new_hot_encoded_music.shape[0]))
    for i in new_tag_selected_music:
        indices = new_hot_encoded_music[new_hot_encoded_music[i] == 1.0].index.tolist()
        for j in indices:
            counts[j] += 1.0
    for i in range(40):
        max_idx = counts.argmax()
        recommended_new_music.append(max_idx)
        counts[max_idx] = 0
    recommended_new_music = new_hot_encoded_music.iloc[recommended_new_music].name.values
    recommended_new_music = np.array(recommended_new_music)
    recommended_new_music = recommended_new_music.ravel()
    return  recommended_new_music

In [71]:
recommend("The Hunger Games")

array(["Don't Speak", 'My Immortal', 'Maps', 'Linger', 'Kiss Me',
       'Lovefool', 'A Thousand Miles', 'Nothing Compares 2 U',
       "When You're Gone", 'Fade Into You', 'When It Rains',
       "Please Don't Leave Me", 'Emergency', 'We Are Broken',
       'It Must Have Been Love', 'Listen to Your Heart',
       'Keep Holding On', 'My Heart', 'Underneath Your Clothes',
       'Your Love Is My Drug', 'Jóga', 'Little Bit', "It's Oh So Quiet",
       'Goodnight and Go', 'Pagan Poetry', 'Bruises', 'Unravel',
       'Possibly Maybe', 'Hysteric', 'Breathe In', 'XO', 'The Writer',
       'This Love (Will Be Your Downfall)', 'Hear Me Out', 'Come to Me',
       'Must Be Dreaming', 'Like Someone in Love', 'Cocoon',
       'In the Name of Love', 'Hungover'], dtype=object)

In [72]:
recommend("Pride and Prejudice")

array(['Hounds of Love', 'The Great Gig in the Sky', 'Moonlight Shadow',
       'My Superman', 'Do You Love Me Now?', 'True Colors',
       'Take My Breath Away', "I'll Stand By You", 'The Dreaming',
       'A Reflection', 'Behind My Camel',
       'Revenge Is Sweeter (Than You Ever Were)', 'Lily',
       'Captain Shiner', 'Sunday Drive', 'An Early Spring',
       'Love Will Tear Us Apart', "Don't Speak", 'Just Like Heaven',
       'My Immortal', 'Maps', 'Lovesong',
       'There Is a Light That Never Goes Out', 'Linger', 'Kiss Me',
       'On the Run', 'Lovefool', 'Heart of Glass', 'Pictures of You',
       'Call Me', 'One Way or Another', 'A Thousand Miles',
       'Nothing Compares 2 U', 'Endlessly', "When You're Gone",
       'Fade Into You', 'Unintended', 'Interlude', 'When It Rains',
       'Walking On Sunshine'], dtype=object)

In [73]:
recommend("Twilight")

array(['Zombie', 'I Kissed a Girl', 'Bring Me to Life', "Don't Speak",
       'My Immortal', 'Maps', 'Torn', 'Hollaback Girl',
       'The Great Gig in the Sky', 'Somebody to Love', 'Linger',
       'Heads Will Roll', 'Going Under', 'Complicated', 'So What',
       'Kiss Me', 'Lovefool', 'Ironic', "That's What You Get",
       'Gold Lion', 'Rabbit Heart (Raise It Up)', 'Since U Been Gone',
       'Heart of Glass', 'Because of You', 'Dreams', 'Just a Girl',
       'Shut Up and Drive', 'Call Me', 'Suddenly I See',
       'This Is the Life', 'One Way or Another', 'A Thousand Miles',
       'Howl', 'Fast Car', 'My Favourite Game', 'Girlfriend',
       'Nothing Compares 2 U', 'Drumming Song', 'Cool', 'My Happy Ending'],
      dtype=object)

In [74]:
recommend("Jane Eyre")

array(['A Reflection', 'The Great Gig in the Sky', 'Moonlight Shadow',
       'Oasis', 'Hounds of Love', 'Disconnect', 'The Final Sound',
       'The Dreaming', 'Agent Orange', 'Inside the City of Glass',
       'Apart', 'Road, River and Rail', 'Saturnine', 'Behind My Camel',
       'Juliet', 'Horror Show', 'Blue Bell Knoll',
       'Ella Megalast Burls Forever', 'Lily', 'Captain Shiner',
       'Your Face', 'Brian Boru', 'Bring Me to Life', 'My Immortal',
       'Lullaby', 'Going Under', 'On the Run', 'Heart of Glass',
       'Pictures of You', 'Call Me', 'A Forest', 'One Way or Another',
       "Everybody's Fool", "Call Me When You're Sober", 'Interlude',
       'Hello', 'Haunted', 'Tourniquet', 'Walking On Sunshine',
       'Fascination Street'], dtype=object)

In [75]:
recommend("The Crucible")

array(['In the Mood', 'Moonlight Serenade', 'Tuxedo Junction',
       'American Patrol', 'Lost in the Harbour', 'Tequila', 'Rumble',
       'Our Prayer', 'Buried Alive in the Blues', 'Popcorn',
       'I Was Made to Love Her',
       "The Old Man's Back Again (Dedicated To The Neo-Stalinist Regime)",
       'Consuelo', 'Get Lost', 'Oh Jim', 'Hotel Room', 'Plug Me In',
       'Captain Shiner', 'Segue 1', 'Anagrama', 'Preamble',
       'Like a Rolling Stone', 'The House of the Rising Sun',
       'Come Together', 'Let It Be', 'Yesterday', 'Help!',
       'Here Comes the Sun', 'Bad Moon Rising', 'Hey Jude',
       'All You Need Is Love', 'Imagine', 'Eleanor Rigby',
       'Yellow Submarine', 'Brown Eyed Girl', 'Something',
       'The Great Gig in the Sky', 'Mrs. Robinson', 'Somebody to Love',
       'Your Song'], dtype=object)